<div id="twrap">
    <div id="twrapback"></div>
    <div id="datathon" class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <i class="fa fa-bar-chart-o"></i>
            <h1>Datathon</h1>
            <p><b>sobota 17.12.2016</b></p>
            <h4>spotkamy się analizować dane miejskie</h4>
            <p>Wśród danych pojawią się zbiory: opóźnienia komunikacji zbiorowej, Wrocławski Budżet Obywatelski, wypożyczenia roweru miejskiego, wyszukiwania jakdojade.pl i wiele innych zbiorów danych do analizy i eksploracji! Rezerwujcie sobotę 17. grudnia!</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->