<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-1">
                <h1>Analizujemy i eksplorujemy Wrocław</h1>
                <p>O dostęp do danych miejskich we Wrocławiu było kiedyś trudno, a rozmowy z urzędnikami żmudne i problematyczne. Całe roczniki pasjonatów analizy danych kierowały więc swoją uwagę do innych tematów.</p>

                <p><strong>Dziś Wrocław jest inny. </strong></p>

                <p>Chcemy zachęcić lokalnych analityków danych do skierowania swoich R/Pythona/Sparka na dane miejskie oraz współpracy z NGOsami i urzędnikami w tworzeniu nowej społeczności myślącej o rozwoju miasta.</p>
            </div>
            <div class="col-lg-4 display-table">
            <div class="display-cell">
            <a href="https://www.facebook.com/groups/wroclawskiedane/" class="glowny-button">Jesteś analitykiem danych? <br /><i class="fa fa-users" aria-hidden="true"></i>
 Dołącz do naszej grupy na FB</a>
            </div>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->