<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <i class="fa fa-calculator"></i>
            <h1>Datathon</h1>
            <b>Sobota 17.12.2016</b>
            <h4>Rezerwujcie datę!</h4>
            <p>W sobotę 17 grudnia spotkamy się na datathonie pobawić się danymi miejskimi: opóźnienia komunikacji zbiorowej, Wrocławski Budżet Obywatelski, wypożyczenia roweru miejskiego, wyszukiwania jakdojade.pl i wiele innych zbiorów danych do analizy i eksploracji!</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->